<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-foxitpdf" version="6.3.5" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-foxitpdf</name>
    <description>cordova pdf preview plugin with Foxit Pdf sdk</description>
    <author>Foxit PDF SDK Team</author>
    <keywords>pdf,perview,openDocument,foxit</keywords>
    <license>Apache 2.0 License</license>
    <js-module name="FoxitPdf" src="www/FoxitPdf.js">
        <clobbers target="window.FoxitPdf"/>
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="FoxitPdf">
                <param name="ios-package" value="FoxitPdf"/>
            </feature>
        </config-file>
        <source-file src="src/ios/FoxitPdf.m"/>
        <resource-file src="src/ios/uiextensions_config.json"/>
        <preference name="CAMERA_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
        </config-file>
        <preference name="PHOTOLIBRARY_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
             <string>Need to photo library access to get pictures from there</string>
        </config-file>
        <preference name="MICROPHONE_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
             <string>App needs your consent to access the microphone</string>
        </config-file>
        <preference name="PHOTOLIBRARY_ADD_USAGE_DESCRIPTION" default="This app needs write-access to photo library" />
        <config-file target="*-Info.plist" parent="NSPhotoLibraryAddUsageDescription">
             <string>This app needs write-access to photo library</string>
        </config-file>
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="FoxitPdf">
                <param name="android-package" value="com.foxit.cordova.plugin.FoxitPdf"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
           <uses-permission android:name="android.permission.VIBRATE"/>
           <uses-permission android:name="android.permission.USE_CREDENTIALS" />
           <uses-permission android:name="android.permission.INTERNET" />
           <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
           <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
           <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
           <uses-permission android:name="android.permission.READ_PHONE_STATE" />
           <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
           <uses-permission android:name="android.permission.RUN_INSTRUMENTATION"/>
           <uses-permission android:name="com.android.email.permission.READ_ATTACHMENT"/>
           <uses-permission android:name="android.permission.CAMERA" />
           <uses-permission android:name="android.permission.RECORD_AUDIO" />
           <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.foxit.cordova.plugin.ReaderActivity"
                android:configChanges="keyboardHidden|orientation|locale|layoutDirection|screenSize"
                android:launchMode="singleTask"
                android:screenOrientation="fullSensor">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW"></action>
                    <action android:name="android.intent.action.MAIN"></action>
                    <category android:name="android.intent.category.DEFAULT"></category>
                    <data android:mimeType="application/pdf"></data>
                </intent-filter>
            </activity>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>

        <source-file src="src/android/com/foxit/cordova/plugin/FoxitPdf.java" target-dir="src/com/foxit/cordova/plugin"/>
        <source-file src="src/android/com/foxit/cordova/plugin/ReaderActivity.java" target-dir="src/com/foxit/cordova/plugin"/>

        <resource-file src="src/android/assets/uiextensions_config.json" target="assets/www/plugins/cordova-plugin-foxitpdf/uiextensions_config.json" />

        <framework src="src/android/gradle/FoxitRDKUIExtensions.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
